{% extends 'base.jinja2' %}

{% block content %}

 <h1> {{     post['title']   }}</h1>
<p> {{  post['content']     }}</p>

<a href="{{ url_for('create') }}">Create</a>

{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head></head>-->
<!--    <body>-->
<!--        &lt;!&ndash; <h1>Hello world!</h1>-->
<!--         <p>This is my first post using flask and html</p>&ndash;&gt;-->
<!--        <h1> {{     post['title']   }}</h1>-->
<!--        <p> {{  post['content']     }}</p>-->
<!--    </body>-->
<!--</html>-->